<div class="w-100 text-center">
    <a href="@Url.Action("Index", "ToursManagement")" class="w-100 btn btn-light">Tour Management</a>
    <a href="@Url.Action("Index", "HotelsManagement")" class="w-100 btn btn-light">Hotel Management</a>
</div>